body {
    background: #28283c;
}

.cam-background {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.cam-background:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}

.cam {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
}

.controls {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 20px;
    transition: 250ms;
}

body:hover .controls,
body:focus .controls,
body:hover .view-source,
body:focus .view-source {
    opacity: 1;
}

.controls [role="button"],
.view-source {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    font-size: 40px;
}

.controls [role="button"]:active,
.view-source:active {
    display: inline-block;
    transform: scale(0.9);
}

.view-source {
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: none;
    opacity: 0;
}
